.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 38px;
  padding-right: 38px;
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  left: 10px;
  top: 12px;
}

.clear {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
